@use '../mixin.scss' as mixin;

.main {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -6.5rem;

  @include mixin.bp-large {
    width: 95%;
  }

  @include mixin.bp-small {
    padding: 0 1rem;
  }

  & > * {
    margin-bottom: 1rem;
  }

  h5 {
    color: mixin.$color-primary-light-2;
    font-size: 2rem;
    letter-spacing: 0.2rem;

    @include mixin.bp-small {
      font-size: 1.6rem;
    }
  }

  h1 {
    font-size: 7rem;

    @include mixin.bp-largest {
      font-size: 5rem;
    }

    @include mixin.bp-small {
      font-size: 3.5rem;
    }
  }

  .about {
    width: 50%;
    font-size: 2rem;

    span {
      color: mixin.$color-primary-light-2;
    }

    @include mixin.bp-medium {
      width: 100%;
    }

    @include mixin.bp-small {
      font-size: 1.6rem;
    }
  }

  h1.tagline {
    // width: 100%;
    display: inline-block;
    // overflow: hidden;
    // border-right: 0.15em solid mixin.$color-primary-light-2;
    // white-space: nowrap;
    letter-spacing: 0.15rem;
    // animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;

    @include mixin.bp-largest {
      font-size: 5rem;
    }

    @include mixin.bp-small {
      font-size: 2.5rem;
    }
  }

  h1.tagline:after {
    content: '|';
    color: mixin.$color-primary-light-2;
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: mixin.$color-primary-light-2;
    }
  }

  .btn-main {
    margin-top: 3rem;
    display: flex;
    column-gap: 2rem;

    a {
      width: 20rem;
    }

    button:hover {
      scale: 110%;
    }

    @include mixin.bp-small {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
